* {
  box-sizing: border-box;
}

body {
  background-color: #DDD;
}

main {
}

.cust-jumbotron-brown {
  background-color: brown;
  color: white;
}

.fg-white {
  color: white;
}

.nb-bg-white {
  background-color: white;
  color: red;
}

.nb-bg-white a {
  color: red;
  font-weight: bold;
}

.nb-bg-red {
  background-color: maroon;
}

.nb-fg-white {
  color: black !important;
}

.nb-std-link {
  color: white;
}
.nb-std-link:hover {
  color: white;
}

.nb-active {
  background-color: brown;
  color: white;
}

/*
 * Navbar
 */


.nb-bdr-shd {
  text-shadow: 5px 0px 2px #000, -5px 0px 2px #000,
               0px 5px 2px #000, 0px -5px 2px #000; 
}

.nb-bg-violet {
  background-color: violet;
  color: green;
}
.nb-bg-indigo {
  background-color: indigo;
}
.nb-bg-blue {
  background-color: blue;
}
.nb-bg-green {
  background-color: green;
}
.nb-bg-yellow {
  background-color: yellow;
}
.nb-bg-orange {
  background-color: orange;
}
.nb-bg-red {
  background-color: red;
}
.nb-bg-maroon {
  background-color: #A52A2A;
}

.nb-sw-2 {
  width: 12.5%;
}

.nb-div-inline {
  /*display: inline-block;*/
}

#myGoogleMap {
  width: 100%;  
  height: 400px;
  background-color: grey;
}

.std-table thead {
  background: green;
  color: white;
  padding: 10px;
  border: 1px solid black;
}

/*
 * Standard table
 */

.nb-std-table {
  width: 100%;
  /*background-color: #005A5A;*/
}
.nb-std-table thead th {
  padding: 10px;
  text-align: left;
}
.nb-std-table thead th:nth-child(1) {
  width: 50%;
}
.nb-std-table thead th:nth-child(2) {
  width: 50%;
}
.nb-std-table thead th:nth-child(3) {
}
.nb-std-table tbody tr {
  /*padding: 10px;*/
}
.nb-std-table tbody tr td{
  padding: 10px;
}
.nb-std-table tbody tr:nth-child(odd) {
}
.nb-std-table tbody tr:nth-child(even) {
  /*background-color: #A02020;*/
}

.nb-div-w100 {
  width: 100%;
}

.nb-std-h3 {
  padding: 10px;
  margin-bottom: 0;
}
.nb-mw-80pc {
    max-width: 50%;
}

.nb-bdr-crv {
  border-radius: 10px;
}

.nb-bdr-tcrv {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.nb-bgr-blkred-red {
  background: linear-gradient(to bottom, #902020, #A02020);
}
.nb-std-hdiv {
  padding: 10px;
}

.nb-bb-lgray {
  border-bottom: 1px solid #AAAAAA;
}
.nb-bb-dkmaroon {
  border-bottom: 1px solid #AAA;

  /*background-color: white;*/
  /*color: black;*/
}
.nb-bx-shdw {
    box-shadow: 0px 3px 3px #180000;
}
.nb-pd-zero {
  padding: 0;
}
.nb-bb-strp {
  border-bottom: 1px dashed gray;
}

footer {
}

.nb-tb-gray {
  border-top: 1px solid gray;
}

.nb-std-ftr {
  border-top: 1px solid gray;
  margin-top: 20px;
  padding-top: 20px;
}
.nb-ta-rt {
  text-align: right;
}

.nb-tm-10px {
  margin-top: 10px;
}
.nb-tm-15px {
  margin-top: 18px;
}
.nb-std-mrgn {
  margin-top: 10px;
  margin-bottom: 10px;
}
.nb-fg-yellow {
  color: orange;
}

.nb-bg-temp {
  background-color: maroon;
}
.nb-fw-bold {
  font-weight: bold;
}
.nb-fs-italic {
  font-style: italic;
}
.nb-fsz-1em {
  font-size: 0.8em;
}

/*
 *  Font Awesome social icons
 */

.social .fa-facebook:hover {
    color: #4060A5 !important;
}
.social .fa-twitter:hover {
    color: #00ABE3;
}
.social .fa-google-plus:hover {
    color: #e64522;
}
.social .fa-linkedin:hover {
    color: #0094BC;
}

.nb-dsp-hdn {
  display: none;
}

.nb-bg-brgn {
  background-color: #8D8741;
  background-color: #0C0032;
  background-color: #1F2833;
  background-color: #18121E;
  background-color: #DF744A;
  background-color: #94618E;
  background-color: #49274A;
  background-color: #4484CE;
  background-color: #BD734E;
  background-color: #57BC90;
  background-color: #1A0315;
  background-color: #626C60;
  background-color: #373f27;
  background-color: #636b46;
  background-color: #6e7376;
  background-color: #FF6A5C;
  background-color: #57652a;
  background-color: #08302f;
  background-color: #c06014;
}
.nb-std-pdg {
  padding: 3px;
}
.nb-std-cat {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #EEE;
}
.nb-lrm-0px {
  margin-left: 0;
  margin-right: 0;
}

.nb-pdg-0px {
  padding: 0;
}
.nb-tbr-5px {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.nb-std-ftr {
  background-color: #888;
  padding-bottom: 20px;
}
.nb-ul-nb {
  list-style: none;
}
.nb-ul-fgw a {
  color: #333;
}

/* To Make columns of same height */
.row [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.row{
  overflow: hidden; 
}
.nb-fg-gray {
  color: gray;
}
.nb-bm-10px {
  padding-bottom: 10px;
}

/* Navbar */
/*
.navbar {
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 1px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
*/
