{% extends "base/base_generic.html" %}

{% block navCon %}
  class="active" 
{% endblock %}

{% block content %}
<!-- Contact -->
<div class="container bg-grey fg-white-rm">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <h3>Navrang Hotel, Janakpur</h3>
      <hr/>
      <p>Contact us and we'll get back to you soon</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Shiv Chowk, Janakpur</p>
      <p><span class="glyphicon glyphicon-phone"></span> +977 9801185187</p>
      <p><span class="glyphicon glyphicon-envelope"></span> contact@navranghotel.com</p>
      <p><span class="glyphicon glyphicon-globe"></span> www.navranghotel.com</p>
    </div>
    <!-- ContactMessageForm -->
    <div class="col-sm-7">
      <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row">
          <div class="col-sm-6 form-group">
            <div class="fieldWrapper">
                {{ form.sender_name.errors }}
                {{ form.sender_name }}
            </div>
          </div>
          <div class="col-sm-6 form-group">
            <div class="fieldWrapper">
                {{ form.sender_email.errors }}
                {{ form.sender_email }}
            </div>
          </div>
        </div>
        <div class="fieldWrapper">
            {{ form.message.errors }}
            {{ form.message }}
        </div>
        <div class="row nb-tm-10px">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
        </div>
      </form>
    </div>
    <!-- /ContactMessageForm -->
  </div>
</div>
<!-- Contact -->
{% endblock %}

  <!--Another little newer google map.-->
  <div class="container">
    <div id="myGoogleMap">
      <h3>Map</h3>
    </div>
  </div>
  <script>
    function initMap()
    {
      var uluru = {lat: 26.71, lng: 85.90};
      var map = new google.maps.Map(document.getElementById('myGoogleMap'), {
        zoom: 12,
        center: uluru,
        map: map
      });
    } </script>
  <script async defer 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4h1pk9PMPO128nhXyQRHK2rUF8ekzhFs&callback=initMap">
  </script>
  <!--/Another little newer google map.-->


  <!-- Old Add Google Maps -->
  <div id="googleMap" style="height:400px;width:100%;"></div>
    <script>
    function myMap() {
      var myCenter = new google.maps.LatLng(41.878114, -87.629798);
      var mapProp = {center:myCenter, zoom:12, scrollwheel:false, draggable:false, mapTypeId:google.maps.MapTypeId.ROADMAP};
      var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
      var marker = new google.maps.Marker({position:myCenter});
      marker.setMap(map);
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4h1pk9PMPO128nhXyQRHK2rUF8ekzhFs&callback=myMap"></script>
    <!--
    To use this code on your website, get a free API key from Google.
    Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
    -->
  </div> 

<!-- Old form -->
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
