{% extends "base/base_generic.html" %}

{% block navMen %}
  class="active" 
{% endblock %}

{% block content%}
<!--  Old Menu style -->
<div class="container nb-fg-white-rm nb-bg-maroon-rm nb-div-w100 nb-bdr-crv nb-pd-zero">
  <div class="nb-std-hdiv nb-bdr-tcrv nb-bb-dkmaroon">
    <h2 class="text-center-rm">Navrang Hotel Menu</h2>
  </div>
  {% for menu_category in menu_categories %}
    <br/>
    <h3 class="nb-std-h3-rm">{{ menu_category.title }} </h3>
    <br/>
      {% for menu_item in menu_category.menuitem_set.all %}
        <div class="row slideanim nb-bb-dkmaroon nb-std-mrgn">
          <div class="col-sm-4">
            <p>{{menu_item.name}}</p>
          </div>
          <div class="col-sm-8">
            <p>{{ menu_item.price }}</p>
          </div>
        </div>
      {% endfor %}
  {% endfor %}
</div>

{% endblock%}

  {% for menu_category in menu_categories %}
    <h3 class="nb-std-h3">{{ menu_category.title }} </h3>
    <table class="nb-std-table">
      <tbody>
        {% for menu_item in menu_category.menuitem_set.all %}
          <tr class="nb-bb-dkmaroon">
            <td>{{ menu_item.name }}</td>
            <td class="nb-ta-rt">{{ menu_item.price }}</td>
            <!--<td class="nb-ta-rt"><button class="btn btn-info">Order</button></td>-->
          </tr>
        {% endfor %}
      <tbody>
    </table>
  {% endfor %}
