{% extends "base/base_generic.html" %}

{% block navMen %}
  class="active" 
{% endblock %}

{% block content%}
<!--  New Menu style -->
<div class="container">
  <div class="row">
    <div class="col-sm-4 nb-std-cat nb-pdg-0px">
      <div class="nb-bg-brgn nb-std-pdg">
        <h3 class="nb-fg-white text-center nb-lrm-0px nb-tbr-5px">Food</h3>
      </div>
      <p class="nb-fg-white text-center">
        <ul class="nb-fg-white">
          <li>Oldest hotel in Janakpur</li>
          <li>Original taste</li>
          <li>Affordable price</li>
          <li>Affordable price</li>
          <li>Good location</li>
          <li>Online order available</li>
        </ul>
      </p>
    </div>
    <div class="col-sm-4 nb-std-cat nb-pdg-0px">
      <div class="nb-bg-brgn nb-std-pdg">
        <h3 class="nb-fg-white text-center nb-lrm-0px nb-tbr-5px">Sweet</h3>
      </div>
      <p class="nb-fg-white text-center">
        <ul class="nb-fg-white">
          <li>Oldest hotel in Janakpur</li>
          <li>Original taste</li>
          <li>Affordable price</li>
          <li>Affordable price</li>
          <li>Good location</li>
          <li>Online order available</li>
        </ul>
      </p>
    </div>
    <div class="col-sm-4 nb-std-cat nb-pdg-0px">
      <div class="nb-bg-brgn nb-std-pdg">
        <h3 class="nb-fg-white text-center nb-lrm-0px nb-tbr-5px">Juice</h3>
      </div>
      <p class="nb-fg-white text-center">
        <ul class="nb-fg-white">
          <li>Oldest hotel in Janakpur</li>
          <li>Original taste</li>
          <li>Affordable price</li>
          <li>Affordable price</li>
          <li>Good location</li>
          <li>Online order available</li>
        </ul>
      </p>
    </div>
  </div>
</div>
<!--  Old Menu style -->
<div class="container nb-fg-white nb-bg-maroon nb-div-w100 nb-bdr-crv nb-pd-zero">
  <div class="nb-std-hdiv nb-bdr-tcrv nb-bb-dkmaroon">
    <h2 class="text-center-rm">Navrang Hotel Menu</h2>
  </div>
  {% for menu_category in menu_categories %}
    <h3 class="nb-std-h3">{{ menu_category.title }} </h3>
      {% for menu_item in menu_category.menuitem_set.all %}
        <div class="row slideanim nb-bb-dkmaroon nb-std-mrgn">
          <div class="col-sm-4">
            <p>{{menu_item.name}}</p>
          </div>
          <div class="col-sm-8">
            <p>{{ menu_item.price }}</p>
          </div>
        </div>
      {% endfor %}
  {% endfor %}
</div>

{% endblock%}

  {% for menu_category in menu_categories %}
    <h3 class="nb-std-h3">{{ menu_category.title }} </h3>
    <table class="nb-std-table">
      <tbody>
        {% for menu_item in menu_category.menuitem_set.all %}
          <tr class="nb-bb-dkmaroon">
            <td>{{ menu_item.name }}</td>
            <td class="nb-ta-rt">{{ menu_item.price }}</td>
            <!--<td class="nb-ta-rt"><button class="btn btn-info">Order</button></td>-->
          </tr>
        {% endfor %}
      <tbody>
    </table>
  {% endfor %}
