{% extends "base/base_generic.html" %}

{% block navRev %}
  class="active" 
{% endblock %}

{% block content%}
  <!-- Reviews -->
  <div class="container nb-fg-white">
    <h2>Reviews</h2>
    <a href="{% url 'base-reviews-create' %}" class="nb-std-link">+ Add a review</a>
    <br/><br/>
  </div>
  <div class="container text-center nb-bg-maroon fg-white">
    {% for review in review_list %}
    <div class="row slideanim">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-leaf logo-small"></span>
        <p>{{review.reviewer_name}}</p>
        <p>{{review.date_time}}</p>
      </div>
      <div class="col-sm-8">
        <span class="glyphicon glyphicon-certificate logo-small"></span>
        <p>{{review.comment}}</p>
      </div>
    </div>
    <hr/>
    {% endfor %}
  </div>
  <br/><br/>

  <!-- /Reviews -->
{% endblock%}

  <!-- New king of review -->
  <div class="container">
    {% for review in review_list %}
    <div class="row slideanim text-center nb-bg-maroon fg-white">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-leaf logo-small"></span>
        <p>{{review.reviewer_name}}</p>
        <p>{{review.date_time}}</p>
      </div>
      <div class="col-sm-8 text-center nb-bg-maroon fg-white">
        <span class="glyphicon glyphicon-certificate logo-small"></span>
        <p>{{review.comment}}</p>
      </div>
    </div>
    <br/><br/>
    {% endfor %}
  </div>
  <!-- /New king of review -->

