{% extends "base/base_generic.html" %}

{% block navRev %}
  class="active" 
{% endblock %}

{% block content%}
  <!-- Reviews -->
  <div class="container nb-fg-white">
    <div class="row slideanim nb-bb-dkmaroon nb-std-mrgn">
      <div class="col-sm-4">
        <h2>Customer Reviews</h2>
      </div>
      <div class="col-sm-8">
          <a href="{% url 'base-reviews-create' %}" class="btn btn-success nb-tm-15px">Add a review</a>
      </div>
    </div>
    <br/><br/>
  </div>

  <div class="container nb-bg-maroon fg-white nb-bdr-crv">
    {% for review in review_list %}
    <div class="row slideanim nb-bb-dkmaroon nb-std-mrgn">
      <div class="col-sm-4">
        <p class="nb-fw-bold">{{review.reviewer_name}}</p>
        <p class="nb-fsz-1em">{{review.date_time}}</p>
      </div>
      <div class="col-sm-8">
        {% if review.star_rating == 1 %}
            <span class="glyphicon glyphicon-star logo-small nb-fg-yellow"></span>
        {% elif review.star_rating == 2 %}
            <span class="glyphicon glyphicon-star logo-small nb-fg-yellow"></span>
            <span class="glyphicon glyphicon-star logo-small nb-fg-yellow"></span>
        {% elif review.star_rating == 3 %}
            <span class="glyphicon glyphicon-star logo-small nb-fg-yellow"></span>
            <span class="glyphicon glyphicon-star logo-small nb-fg-yellow"></span>
            <span class="glyphicon glyphicon-star logo-small nb-fg-yellow"></span>
        {% elif review.star_rating == 4 %}
            <span class="glyphicon glyphicon-star logo-small nb-fg-yellow"></span>
            <span class="glyphicon glyphicon-star logo-small nb-fg-yellow"></span>
            <span class="glyphicon glyphicon-star logo-small nb-fg-yellow"></span>
            <span class="glyphicon glyphicon-star logo-small nb-fg-yellow"></span>
        {% elif review.star_rating == 5 %}
            <span class="glyphicon glyphicon-star logo-small nb-fg-yellow"></span>
            <span class="glyphicon glyphicon-star logo-small nb-fg-yellow"></span>
            <span class="glyphicon glyphicon-star logo-small nb-fg-yellow"></span>
            <span class="glyphicon glyphicon-star logo-small nb-fg-yellow"></span>
            <span class="glyphicon glyphicon-star logo-small nb-fg-yellow"></span>
        {% endif %}
        <p>{{review.comment}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <br/><br/>
  <!-- /Reviews -->

  <!-- Paginaton -->
  {% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="btn btn-danger">Previous</a>
                {% endif %}
                <span class="page-current nb-fg-white">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="btn btn-danger">Next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %} 
{% endblock%}

  <!-- New king of review -->
  <div class="container">
    {% for review in review_list %}
    <div class="row slideanim text-center nb-bg-maroon fg-white">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-leaf logo-small"></span>
        <p>{{review.reviewer_name}}</p>
        <p>{{review.date_time}}</p>
      </div>
      <div class="col-sm-8 text-center nb-bg-maroon fg-white">
        <span class="glyphicon glyphicon-certificate logo-small"></span>
        <p>{{review.comment}}</p>
      </div>
    </div>
    <br/><br/>
    {% endfor %}
  </div>
  <!-- /New king of review -->

